{{sample}}
<br />
{{title}}
<img [src]="imageUrl" width="100" height="100"/>
<br /><br />
Customer Code <input [(ngModel)]="CustomerModel.CustomerCode" type="text" /><br /><br />
Customer Name <input [(ngModel)]="CustomerModel.CustomerName" type="text" /><br /><br />
Customer Amount <input [(ngModel)]="CustomerModel.CustomerAmount" type="text" /><br /><br />
<input type="submit" Value="Add" (click)="AddCustomer()" />


<table border="1">
    <tr>
        <td>Customer Code</td>
        <td>Customer Name</td>
        <td>Customer Amount</td>
        <td>Actions</td>
    </tr>
    <tr *ngFor="let cust of CustomerModels">
        <td>{{cust.CustomerCode}}</td>
        <td>{{cust.CustomerName}}</td>
        <td>{{cust.CustomerAmount}}</td>
        <td><input type="button" value="Edit" (click)="EditCustomer(cust)" />
            <input type="button" value="Delete"  (click)="DeleteCustomer(cust)"/>
        </td>
    </tr>
</table>